          #stages{                                   
          margin: auto;
          }
          #stages ul{
          list-style: none;
          margin: 0px;
          /*border: 2px solid #ddd;*/
          padding-top: 35px;
          border-bottom: 4px solid #fff;
          } 
          #stages li{
          float: left;
          width: 30%;
          text-align: center;
          ext-transform: uppercase;
          color: #000;
          }
          #stages ul > li.active > .ico {
          border: 2px solid #009900;
          }
          #stages ul > li > .ico{
          height: 15px;
          background-color: #fff;
          width: 15px;
          display: inline-block;
          top: -6px;
          left: 55px;
          border-radius: 50%;
          position: relative;
          }
          #stages ul > li > .text{
          position: relative;
          top: -35px;
          font-size: 8pt;
          color: #6f6f6f;
          }
          #stages ul > li.active > .text {
          color: #009900;
          }
          .col-sm-6{
          font-family: 'Lucida$ Sans W01 Roman'!important;
          } 
          .btn-primary{
          background-color: #00A261!important;
          }
          .pathContainer{
          height: 50px!important;
          }
          .btn {
          border: none;
          color: white;
          margin: 5px;
          }
          .multiselect-selected{
          background-color: #4da25b;
          }
          .multiselect{
          height: 34px;
          }
          .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
          background-color: transparent !important;
          }
          .multiselect-container {
          width: 100%;
          }
          .multiselect-clear-filter{
          margin: 0;
          display: none;
          }
          .caret {
          position: relative;
          bottom: 10px;
          float: right;
          right: -7px;
          text-align: right;
          }
          .multiselect-selected-text{
          text-align: left;
          display: block;
          font-size: 14px;
          }
          .gm-style {
          font: 400 11px Roboto, Arial, sans-serif;
          text-decoration: none;
          }

          div.main_content_slider_wrapper {
          overflow: hidden;
          margin: 0 auto;
          max-width: 1000px;
          }

          .content_slider_wrapper  * {
          box-sizing: content-box;
          -moz-box-sizing: content-box;
          -ms-box-sizing: content-box;
          -webkit-box-sizing: content-box;
          }

          .content_slider_wrapper {
          font-family:Verdana,Arial,Helvetica,sans-serif;
          font-size:14px; line-height:20px;
          text-align:left; color:#484848;
          margin:0; padding:0; border:none;
          clear: both;
          display: block;
          position: relative;
          }

          .content_slider_wrapper h4 {
          font-size:20px;
          font-family:Verdana,Arial,Helvetica,sans-serif;
          color:#2a2a2a;
          margin:0;
          padding:0;
          font-weight:100;
          border:none;
          }

          .content_slider_wrapper_vertical {
          font-family:Verdana,Arial,Helvetica,sans-serif;
          font-size:14px; line-height:20px;
          text-align:left; color:#484848;
          margin:0; padding:0; border:none;
          clear: both;
          display: block;
          }

          .content_slider_wrapper_vertical h4 {
          font-size:20px;
          font-family:Verdana,Arial,Helvetica,sans-serif;
          color:#2a2a2a;
          margin:0;
          padding:0;
          font-weight:100;
          border:none;
          }

          .content_slider_wrapper .circle_slider {
          position:relative;
          width:970px;
          height:260px;
          margin:0;
          padding:0;
          border:none;
          overflow: hidden;
          }
          .content_slider_wrapper_vertical .circle_slider {
          position:relative;
          width:279px;
          height:970px;
          margin:0;
          padding:0;
          border:none;
          overflow: hidden;
          float: left;
          }
          .circle_slider_thumb {
          overflow:hidden;
          border:#282828 solid 5px;
          border-radius:84px;
          position:absolute;
          top:97px;
          width:84px;
          height:84px;
          float:left;
          -moz-box-shadow: 5px 5px 5px #888;
          -webkit-box-shadow: 5px 5px 5px #888;
          box-shadow: 5px 5px 5px #888;
          margin:0;
          padding:0;
          cursor: pointer;
          }
          .circle_slider_thumb img {
          max-width: 100% !important;
          width:84px;
          margin:0 !important;
          padding:0 !important;
          border:none;
          border-radius:84px;
          }
          .circle_slider_big {
          overflow:hidden;
          border:#282828 solid 8px;
          border-radius:231px;
          position:absolute;
          top:24px;
          width:231px;
          height:231px;
          float:left;
          -moz-box-shadow: 5px 5px 5px #888;
          -webkit-box-shadow: 5px 5px 5px #888;
          box-shadow: 5px 5px 5px #888;
          margin:0;
          padding:0;
          }
          .circle_slider_big img {
          width:231px;
          margin:0;
          padding:0;
          border:none;
          }

          .content_slider_wrapper .circle_slider_nav_left {
          position:absolute;
          top:334px;
          left:95px;
          height:57px;
          width:28px;
          display:block;
          margin:0;
          padding:0;
          border:none;
          overflow: hidden;
          cursor: pointer;
          }
          .content_slider_wrapper .circle_slider_no_border2_left {
          width: 24px;
          }
          .content_slider_wrapper .circle_slider_nav_left img {
          padding:19px 30px 19px 3px;
          border-radius:50px 0px 0px 50px;
          left: 0px;
          position: absolute;
          display: inline-block;
          background:black;
          box-shadow: none !important;
          }
          .content_slider_wrapper .circle_slider_nav_right {
          position:absolute;
          top:597px;
          left:95px;
          height:57px;
          width:28px;
          display:block;
          margin:0;
          padding:0;
          border:none;
          overflow: hidden;
          cursor: pointer;
          }
          .content_slider_wrapper .circle_slider_nav_right img {
          padding:19px 3px 19px 30px;
          margin-left:-26px;
          border-radius:0px 50px 50px 0px;
          left: 0px;
          position: absolute;
          display: inline-block;
          background:black;
          box-shadow: none !important;
          }
          .content_slider_wrapper .circle_slider_nav_left.circle_slider_no_border img {
          padding:0;
          margin-left:4px;
          border-radius:0;
          background:transparent !important;
          box-shadow: none !important;
          }

          .content_slider_wrapper .circle_slider_nav_right.circle_slider_no_border img {
          padding:0;
          margin-left:0;
          left: 4px;
          border-radius:0;
          background:transparent !important;
          box-shadow: none !important;
          }
          .content_slider_wrapper_vertical .circle_slider_nav_left {
          position:absolute;
          top:335px;
          left:92px;
          width:57px;
          height:28px;
          display:block;
          margin:0;
          padding:0;
          border:none;
          overflow: hidden;
          cursor: pointer;
          }
          .content_slider_wrapper_vertical .circle_slider_no_border2_left {
          height: 24px;
          }
          .content_slider_wrapper_vertical .circle_slider_nav_left img {
          left: 0px;
          position: absolute;
          display: inline-block;
          box-shadow: none !important;
          }
          .content_slider_wrapper_vertical .circle_slider_nav_right {
          position:absolute;
          top:598px;
          left:92px;
          width:57px;
          height:28px;
          display:block;
          margin:0;
          padding:0;
          border:none;
          overflow: hidden;
          cursor: pointer;
          box-shadow: none !important;
          }
          .content_slider_wrapper_vertical .circle_slider_nav_right img {
          left: 0px;
          position: absolute;
          display: inline-block;
          box-shadow: none !important;
          }

          .content_slider_wrapper .cst1 {left:0px; top:73px;}
          .content_slider_wrapper .cst2 {left:109px; top:73px;}
          .content_slider_wrapper .cst3 {left:218px; top:73px;}
          .content_slider_wrapper .csc {left:357px; top:0px;}
          .content_slider_wrapper .cst4 {left:649px; top:73px;}
          .content_slider_wrapper .cst5 {left:758px; top:73px;}
          .content_slider_wrapper .cst6 {left:867px; top:73px;}

          .content_slider_wrapper_vertical .cst1 {left:73px; top:0px;}
          .content_slider_wrapper_vertical .cst2 {left:73px; top:109px;}
          .content_slider_wrapper_vertical .cst3 {left:73px; top:218px;}
          .content_slider_wrapper_vertical .csc {left:0px; top:357px;}
          .content_slider_wrapper_vertical .cst4 {left:73px; top:649px;}
          .content_slider_wrapper_vertical .cst5 {left:73px; top:758px;}
          .content_slider_wrapper_vertical .cst6 {left:73px; top:867px;}

          /*	Circle Slider text	*/

          .content_slider_wrapper .circle_slider_text_wrapper {
          width:100%;
          left:0px;
          top:10px;
          position:relative;
          display:inline-block;

          }

          .content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text {
          width:460px;
          padding:0 20px 20px 0px;
          border-right:1px solid #7e7e7e;
          float:left;
          margin:0;
          border-left:none;
          border-bottom:none;
          border-top:none;
          }
          .content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right {
          border-left:1px solid #7e7e7e;
          border-right:none;
          width:459px;
          padding:0 0px 20px 20px;
          margin:0 0 0 -1px;
          border-bottom:none;
          border-top:none;
          }
          .content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text span {
          text-align:right;
          display:inline-block;
          width:100%;
          margin:0;
          padding:0;
          border:none;
          }
          .content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text h4 {float:right;}
          .content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right span {text-align:left;}
          .content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right h4 {float:left;}

          /* --------------------- */

          .content_slider_wrapper_vertical .circle_slider_text_wrapper {
          left: 0px;
          position: relative;
          float: left;
          }

          .content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text {
          width:200px;
          padding:0 20px 20px 0px;
          border-right:1px solid #7e7e7e;
          float:left;
          margin:0;
          border-left:none;
          border-bottom:none;
          border-top:none;
          }
          .content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right {
          border-left:1px solid #7e7e7e;
          border-right:none;
          width:200px;
          padding:0 0px 20px 20px;
          margin:0 0 0 -1px;
          border-bottom:none;
          border-top:none;
          }
          .content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text span {
          text-align:right;
          display:inline-block;
          width:100%;
          margin:0;
          padding:0;
          border:none;
          }
          .content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text h4 {float:right;}
          .content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right span {text-align:left;}
          .content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right h4 {float:left;}

          /* --------------------- */

          .content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 {
          left: 30px;
          position: relative;
          float: left;
          /*margin-top: 320px;*/
          }

          .content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text  {
          /*width:460px;*/
          padding:0px 0px 20px 0px;
          margin:0;
          border-bottom:1px solid #7e7e7e;
          border-left:none;
          border-right:none;
          border-top:none;
          display: block;
          clear: both;
          }
          .content_slider_wrapper_vertical  .circle_slider_text_wrapper_v2 .circle_slider_text.right  {
          padding:20px 0px 0px 0px;
          margin:-1px 0 0 0px;
          /*width:459px;*/
          border-top:1px solid #7e7e7e;
          border-right:none;
          border-bottom:none;
          border-left:none;
          display: block;
          }
          .content_slider_wrapper_vertical  .circle_slider_text_wrapper_v2 .circle_slider_text span {
          text-align:center;
          display:inline-block;
          width:100%;
          margin:0;
          padding:0;
          border:none;
          }

          .content_slider_wrapper_vertical .circle_slider_nav_left img {
          padding:1px 19px 30px 19px;
          border-radius:50px 50px 0px 0px;
          left: 0px;
          position: absolute;
          display: inline-block;
          background:black;
          box-shadow: none !important;
          }
          .content_slider_wrapper_vertical .circle_slider_nav_right img {
          padding:30px 19px 1px 19px;
          margin-top:-26px;
          border-radius:0px 0px 50px 50px;
          left: 0px;
          position: absolute;
          display: inline-block;
          background:black;
          box-shadow: none !important;
          }
          .content_slider_wrapper_vertical .circle_slider_nav_left.circle_slider_no_border img {
          padding:0;
          margin-left:0;
          border-radius:0;
          background:transparent !important;
          box-shadow: none !important;
          } 
          .content_slider_wrapper_vertical .circle_slider_nav_right.circle_slider_no_border img {
          left: 0;
          top: 34px;
          padding:0;
          margin-left:0;
          border-radius:0;
          background:transparent !important;
          box-shadow: none !important;
          } 
          .content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text  h4 {text-align:center !important; float: none !important;}
          .content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text.right  span {text-align:center !important;}
          .content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text.right  h4 {text-align:center !important;}

          .image_more_info {
          border-radius: 40px 40px 40px 40px;
          box-shadow: 5px 5px 5px #888888;
          -moz-box-shadow: 5px 5px 5px #888;
          -webkit-box-shadow: 5px 5px 5px #888;
          overflow: hidden;
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 10;
          }
          .image_more_info a {
          position: relative;
          }
          .image_more_info img {
          background: none repeat scroll 0 0 #069;
          border-radius: 40px 40px 40px 40px;
          display: block;
          padding: 0px;
          width: 0px;
          overflow: hidden;
          border: 0;
          box-shadow: none !important;
          }

          .circle_item_border {
          box-sizing: border-box !important;
          -moz-box-sizing: border-box !important;
          -ms-box-sizing: border-box !important;
          -webkit-box-sizing: border-box !important;
          position: absolute;
          width:100%;
          height:100%;
          top: -1px;
          left: -1px;
          border:5px solid #000000;
          border-radius: 40px 40px 40px 40px;
          z-index:5;
          }

          /* additional content */

          .content_slider_text_block_wrap {width:100%; text-align:center; font: normal 12px Verdana,Arial,Helvetica,sans-serif; color: #404041; line-height:18px; font-size: 12px; margin:0; }
          .content_slider_text_block_wrap .bold {font-family: Verdana,Arial,Helvetica,sans-serif; font-weight:600;}
          .content_slider_text_block_wrap .separator {width:100%; height: 1px; background: #444444; margin-top:5px;}
          .content_slider_text_block_wrap a.large_link {font-size:18px;}
          .content_slider_text_block_wrap a {color:#069; line-height:18px; font-size: 16px; font-family: Verdana,Arial,Helvetica,sans-serif; text-decoration: none;}
          .content_slider_text_block_wrap h3 {font-size: 30px !important;font-family: Verdana,Arial,Helvetica,sans-serif, sans-serif !important; line-height: 30px !important; margin: 0 !important; padding: 0 !important; display: inline-block !important; font-weight: 600 !important;}
          .content_slider_text_block_wrap a.button_regular {color:#fff; display: inline-block; background:#069; padding:13px 26px 15px 25px; font-size: 15px; line-height: 16px; height: 16px; font-weight:600; border-radius: 3px;}

          .content_slider_text_block_wrap a.button_socials {width:39px; height:39px; padding:5px; display: inline-block; margin:0 5px; border-radius: 3px;}
          .content_slider_text_block_wrap a.button_socials_flat {width:48px; height:48px; padding:0px; display: inline-block; margin:0 5px 0 6px;}

          .content_slider_text_block_wrap .fb {background: url(file/javascripts/content_slider/images/socials/facebook.png) no-repeat center center #3b5a9a;}
          .content_slider_text_block_wrap .tw {background: url(file/javascripts/content_slider/images/socials/twitter.png) no-repeat center center #23aae1;}
          .content_slider_text_block_wrap .pin {background: url(file/javascripts/content_slider/images/socials/pinterest.png) no-repeat center center #cc2129;}
          .content_slider_text_block_wrap .gplus {background: url(file/javascripts/content_slider/images/socials/gplus.png) no-repeat center center #cb383b;}
          .content_slider_text_block_wrap .yt {background: url(file/javascripts/content_slider/images/socials/youtube.png) no-repeat center center #bb000e;}
          .content_slider_text_block_wrap .linkedin {background: url(file/javascripts/content_slider/images/socials/linkedin.png) no-repeat center center #1f75a7;}
          .content_slider_text_block_wrap .envato {background: url(file/javascripts/content_slider/images/socials/envato.png) no-repeat center center #78af4a;}
          .content_slider_text_block_wrap .deviant {background: url(file/javascripts/content_slider/images/socials/deviant.png) no-repeat center center #458652;}

          .content_slider_text_block_wrap .fb1 {background: url(file/javascripts/content_slider/images/social-1/facebook.png) no-repeat center center}
          .content_slider_text_block_wrap .tw1 {background: url(file/javascripts/content_slider/images/social-1/twitter.png) no-repeat center center;}
          .content_slider_text_block_wrap .pin1 {background: url(file/javascripts/content_slider/images/social-1/pinterest.png) no-repeat center center;}
          .content_slider_text_block_wrap .gplus1 {background: url(file/javascripts/content_slider/images/social-1/gplus.png) no-repeat center center;}
          .content_slider_text_block_wrap .yt1 {background: url(file/javascripts/content_slider/images/social-1/youtube.png) no-repeat center center;}
          .content_slider_text_block_wrap .linkedin1 {background: url(file/javascripts/content_slider/images/social-1/linkedin.png) no-repeat center center;}
          .content_slider_text_block_wrap .envato1 {background: url(file/javascripts/content_slider/images/social-1/envato.png) no-repeat center center;}
          .content_slider_text_block_wrap .deviant1 {background: url(file/javascripts/content_slider/images/social-1/deviant.png) no-repeat center center;}

          .content_slider_text_block_wrap .fb2 {background: url(file/javascripts/content_slider/images/social-2/facebook.png) no-repeat center center}
          .content_slider_text_block_wrap .tw2 {background: url(file/javascripts/content_slider/images/social-2/twitter.png) no-repeat center center;}
          .content_slider_text_block_wrap .pin2 {background: url(file/javascripts/content_slider/images/social-2/pinterest.png) no-repeat center center;}
          .content_slider_text_block_wrap .gplus2 {background: url(file/javascripts/content_slider/images/social-2/gplus.png) no-repeat center center;}
          .content_slider_text_block_wrap .yt2 {background: url(file/javascripts/content_slider/images/social-2/youtube.png) no-repeat center center;}
          .content_slider_text_block_wrap .linkedin2 {background: url(file/javascripts/content_slider/images/social-2/linkedin.png) no-repeat center center;}
          .content_slider_text_block_wrap .envato2 {background: url(file/javascripts/content_slider/images/social-2/envato.png) no-repeat center center;}
          .content_slider_text_block_wrap .deviant2 {background: url(file/javascripts/content_slider/images/social-2/deviant.png) no-repeat center center;}

          .content_slider_text_block_wrap .fb3 {background: url(file/javascripts/content_slider/images/social-3/facebook.png) no-repeat center center}
          .content_slider_text_block_wrap .tw3 {background: url(file/javascripts/content_slider/images/social-3/twitter.png) no-repeat center center;}
          .content_slider_text_block_wrap .pin3 {background: url(file/javascripts/content_slider/images/social-3/pinterest.png) no-repeat center center;}
          .content_slider_text_block_wrap .gplus3 {background: url(file/javascripts/content_slider/images/social-3/gplus.png) no-repeat center center;}
          .content_slider_text_block_wrap .yt3 {background: url(file/javascripts/content_slider/images/social-3/youtube.png) no-repeat center center;}
          .content_slider_text_block_wrap .linkedin3 {background: url(file/javascripts/content_slider/images/social-3/linkedin.png) no-repeat center center;}
          .content_slider_text_block_wrap .envato3 {background: url(file/javascripts/content_slider/images/social-3/envato.png) no-repeat center center;}
          .content_slider_text_block_wrap .deviant3 {background: url(file/javascripts/content_slider/images/social-3/deviant.png) no-repeat center center;}

          .content_slider_text_block_wrap .fb4 {background: url(file/javascripts/content_slider/images/social-4/facebook.png) no-repeat center center}
          .content_slider_text_block_wrap .tw4 {background: url(file/javascripts/content_slider/images/social-4/twitter.png) no-repeat center center;}
          .content_slider_text_block_wrap .pin4 {background: url(file/javascripts/content_slider/images/social-4/pinterest.png) no-repeat center center;}
          .content_slider_text_block_wrap .gplus4 {background: url(file/javascripts/content_slider/images/social-4/gplus.png) no-repeat center center;}
          .content_slider_text_block_wrap .yt4 {background: url(file/javascripts/content_slider/images/social-4/youtube.png) no-repeat center center;}
          .content_slider_text_block_wrap .linkedin4 {background: url(file/javascripts/content_slider/images/social-4/linkedin.png) no-repeat center center;}
          .content_slider_text_block_wrap .envato4 {background: url(file/javascripts/content_slider/images/social-4/envato.png) no-repeat center center;}
          .content_slider_text_block_wrap .deviant4 {background: url(file/javascripts/content_slider/images/social-4/deviant.png) no-repeat center center;}

          .content_slider_text_block_wrap .col-1-4_block {width:182px; margin:10px 20px; display: inline-block; vertical-align: top !important;}
          .content_slider_text_block_wrap h4 {display: inline-block; margin:10px 0 20px 0; font-family: 'Dosis', sans-serif; font-weight: 400; font-size: 16px !important;}

          .content_slider_text_block_wrap .col-1-3_block {width:240px; margin:10px 20px; display: inline-block; vertical-align: top !important;}
          .content_slider_text_block_wrap .col-1-3_block img {box-shadow: none !important;}

          .content_slider_text_block_wrap .content_img_wrap {position: relative;}
          .content_slider_text_block_wrap .content_img_wrap img {display: block; box-shadow: none !important;}
          .content_slider_text_block_wrap .content_img_wrap .hover_link img {width:100%;height:100%;} 
          .content_slider_text_block_wrap .content_img_wrap .hover_link {display: none; width: 0px; height: 0px; position: absolute; top: 50%; left: 50%; margin-top:0px; margin-left:0px; z-index:2; opacity:0; filter:alpha(opacity = 0);}

          .content_slider_wrapper div.all_around_text_up {
          position: absolute;
          /*border: #eee solid 1px;*/
          margin: 0;
          padding: 0;
          /*overflow: hidden;*/
          }
          .content_slider_wrapper div.all_around_text_down {
          position: absolute;
          /*border: #eee solid 1px;*/
          margin: 0;
          padding: 0;
          /*overflow: hidden;*/
          }
          .content_slider_wrapper span.all_around_text_span_up {
          margin: 0;
          padding: 0;
          text-align: center;
          position: absolute;
          bottom: 0;
          }
          .content_slider_wrapper span.all_around_text_span_down {
          margin: 0;
          padding: 0;
          text-align: center;
          position: absolute;
          }

          .content_slider_wrapper_vertical div.all_around_text_up {
          position: absolute;
          /*border: #eee solid 1px;*/
          margin: 0;
          padding: 0;
          /*overflow: hidden;*/
          }
          .content_slider_wrapper_vertical div.all_around_text_down {
          position: absolute;
          /*border: #eee solid 1px;*/
          margin: 0;
          padding: 0;
          /*overflow: hidden;*/
          }
          .content_slider_wrapper_vertical span.all_around_text_span_up {
          margin: 0;
          padding: 0;
          text-align: center;
          position: absolute;
          }
          .content_slider_wrapper_vertical span.all_around_text_span_down {
          margin: 0;
          padding: 0;
          text-align: center;
          position: absolute;
          }

          .submenus_container{
          position:absolute;
          width:100%;
          }
          .nav>li {
          background-color: transparent;
          /*font-family: 'AdobeGaramondW01-Regula', Garamond, EB Garamond, Georgia, serif;*/
          font-size: 20px;
          float: right;
          }    
          .nav-tabs{
          margin-bottom: 30px;
          }
          .nav-tabs>li{
          width: 90px;
          padding: 20px;
          margin: 0 auto;
          border-left: 1px solid #ddd;
          
          }
          .nav-tabs>li>span{
          pointer-events:none;
          }
          .nav-tabs>li.active{
          width: 90px;
          background-color: #00a261;
          color: white;
    margin: 0;
          }              
          .sub-menu>li>a{
          border-left: 1px solid #e5e5e5;
          padding: 15px 30px 15px 30px;
          color: #00a261;
          }
          .navbar-nav{
          margin: 0 auto;
          }
          .navbar-nav>li>a {
          padding: 16px 12px 15px 12px;
          font-size: 12pt;
          }
          @media (max-width: 1550px){
          .navbar-nav>li>a {
          font-size:15px; 
          }

          .logo{
          width:300px;
          margin-right:0px;
          }
          }
          @media (max-width: 1330px){
          .navbar-nav>li>a {
          font-size:15px;
          padding: 19px 10px 0px;
          }

          .logo{
          width:300px;
          background-position: center;
          }
          }
          @media (max-width: 1200px){
          .navbar-nav>li>a {
          font-size:12px;
          padding: 19px 5px 0px; 
          }
          }
          .navbar-collapse{
          padding: 0;
          }
          @media screen and (max-width: 1197px) and (min-width: 992px)
          ul.navbar-nav {
          font-size: 13px;
          margin-left: 0px;
          float: none;
          }
          .navbar-collapse{
          padding: 0;
          }
          #slick1 .slick-slide {
          margin: 0 auto;
          cursor: grabbing;
          outline:none;
          }

          #slick1_control .slick-slide {
          margin: 0 auto;
          cursor: pointer;
          outline:none;
          }
          #slick2 .slick-slide {
          margin: 0 auto;
          cursor: grabbing;
          outline:none;
          }

          #slick2_control .slick-slide {
          margin: 0 auto;
          cursor: pointer;
          outline:none;
          }
          .carousel_image{
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          height:300px;
          }
          .carousel_image_control{
          height:150px;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          }
          .container_bootstrap{
          height:100%;
          }
          .background_bootstrap{ 
          background:	#00A261;
          height: 100%;
          padding: 20px;
          }
          .padding_0{
          padding:0px!important;
          }
          .gender_container{
          height:100%;
          } 
          .gender{
          display:inline-flex;
          height:100%;
          }
          .gender>p{
          display: inline-block;
          position: absolute;
          bottom: 0;
          margin: 0;
          }
          .gender>img{
          margin-left: 30px;
          }
          .icon-list-text img{
          width: 60px;
          margin: 0 auto;
          display: block;
          }
          .p-gold{
          color: #C9B463;
          font-weight: bold;
          font-size: 13pt;
          font-family: Verdana, ms-serif;
          text-align: center;
          margin-bottom: 10px;
          }
          .title-graph{
          font-weight: bold;
          color: white;
          font-family: Verdana, ms-serif;
          text-align: center;
          margin-bottom:15px;
          }
          .description-graph{
          color: white;
          font-size: 10pt;
          font-family: Verdana, ms-serif;
          text-align: center;
          margin-bottom: 0;
          }
          .rgraph_domtext_wrapper{
          width: 100%!important;
          height: 100%!important;
          }
          #newsletter_messages{
          display:none;
          align-items: center;
          justify-content: center;
          }
          .newsletter_messages_success{
          width: 100%;
          height: 50px;
          margin-bottom: 40px;
          background: #00a261;
          position:relative;
          border-radius:5px;
          }
          .newsletter_messages_error{
          background: red;
          width: 100%;
          height: 50px;
          margin-bottom: 40px;
          position:relative;
          border-radius:5px;
          }
          #newsletter_messages > span{
          position: absolute;
          right: 10px;
          top: 16px;
          border-radius: 10px;
          background-color: white;
          width: 18px;
          height: 18px;
          text-align: center;
          font-size: 13px;
          cursor: pointer;
          }
          #newsletter_messages > h3{
          font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
          font-size: 14px;
          color:white;
          margin: 0;
          }
 /*  miSlider Core Styles ========================================== */
            /* Version: 0.1.13 */
            
            /*  Resets */
            .mis-stage, .mis-slider, .mis-slide, .mis-container, .mis-container * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            }
            .mis-stage, .mis-slider {
            position: relative;
            overflow: hidden;
            }
            .mis-stage {
            width: 100%; /*  Set stage width as desired */
            text-align: center; /*  Center list navigation */
            }
            .mis-slider {
            list-style: none;
            overflow: visible;
            height: 100%;
            margin-top: 0;
            }
            /*  Set slide width and padding */
            .mis-slide {
            /*  Set width in pixels to restrict width of slides 
            for multi-item slider, default is 100%
            for single-item slider. Use padding to add space 
            between slides */
            width: 100%;
            height: auto;
            padding: 0;
            display: block;
            position: relative;
            float: left;
            overflow: visible !important;
            }
            .js .mis-slide {
            display: none;
            opacity: 0;
            }
            .mis-slide.mis-current {
            z-index: 100;
            display: block;
            }
            /*  Slide container - inserted around the contents
            of each slide by the plugin */
            .mis-container {
            display: block;
            width: auto;
            height: auto;
            border: 0;
            }
            /*  Style list navigation */
            .mis-nav-list {
            position: absolute;
            bottom: .5em;
            width: 100%;
            margin: 0 auto; /* center it */
            z-index: 300;
            padding: 0;
            }
            .mis-nav-list li {
            display: inline-block;
            margin: 0 .25em;
            }
            .mis-nav-list li a {
            display: block;
            width: 11px;
            height: 11px;
            text-indent: 100%; /* Replace text */
            overflow: hidden;
            white-space: nowrap;
            border: 1px solid #eee;
            border-radius: 7px; /* Make items round */
            opacity: .3;
            -webkit-box-shadow: inset 0 0 2px #333;
            box-shadow: inset 0 0 2px 2px #333;
            margin: 0 3px;
            }
            .mis-nav-list li.mis-current a, .mis-nav-list li a:hover {
            background: #333;
            }
            
            .mis-nav-buttons {
            display: block;
            position: absolute;
            height: 0;
            top: 0;
            opacity: 0.5;
            z-index: 200;
            }
            .mis-nav-buttons a {
            position: absolute;
            color: #eee;
            font-size: 0; /* Hide for browser except Android */
            line-height: .01; /* 0 is inconsistent in Opera */
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
            text-decoration: none;
            text-indent: -9999px; /* Hide for Android */
            }
            .mis-nav-buttons a:hover {
            color: #ccc;
            }
            .mis-nav-buttons a.mis-next {
            left: auto;
            right: 0;
            }
            .mis-nav-buttons a.mis-prev {
            left: 0;
            }
            .mis-nav-buttons a.mis-prev:before, .mis-nav-buttons a.mis-next:after {
            content: "\2039"; /* left single angle quote */
            display: block;
            font-size: 80px;
            text-indent: 0;
            }
            .mis-nav-buttons a.mis-next:after {
            content: "\203A"; /* right single angle quote */
            }
            
            
            .mis-stage {
            background-color: #fff;
            }
            .mis-slider {
            /*  Slider element does not need to be a specific height
            Here we use it to create a stylish bar behind slides */
            margin-top: 138px;
            height: 80px;
            background-color: #fff;
            }
            .mis-slider li a {
            text-decoration: none;
            color: #666;
            display: block;
            }  
            .mis-slider li figcaption {
            font-size: 1.125em;
            }
            .mis-slider li img {
            /*  Make max-width of image a little less than width of slide
            to avoid some browser shinking bugs */
            max-width: 270px;
            /*  for really small screens make width 100% */
            width: 100%;
            /*  Make image round */
            border-radius: 39px;
            border: 9px solid rgb(227, 227, 227);
            }
            .mis-slide {
            /*  Set width in pixels to restrict width of slides 
            for multi-item slider, default width is 100%
            for single-item slider. Use padding to add space 
            between slides */
            width: 360px;
            height: 360px;
            padding: 40px;
            /*  Undo the margin added by slider element */
            margin-top: -138px
            }
            .mis-nav-buttons a {
            color: #fff; 
            }
            
            
            /*  miSlider Core Styles ========================================== */
            /* Version: 0.1.14 */
            
            /*  Resets */
            .mis-stage, .mis-slider, .mis-slide, .mis-container, .mis-container * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            }
            .mis-stage, .mis-slider {
            position: relative;
            overflow: hidden;
            }
            .mis-stage {
            width: 100%; /*  Set stage width as desired */
            text-align: center; /*  Center list navigation */
            }
            .mis-slider {
            list-style: none;
            overflow: visible;
            height: 100%;
            margin-top: 0;
            }
            /*  Set slide width and padding */
            .mis-slide {
            /*  Set width in pixels to restrict width of slides 
            for multi-item slider, default is 100%
            for single-item slider. Use padding to add space 
            between slides */
            width: 100%;
            height: auto;
            padding: 0;
            display: block;
            position: relative;
            float: left;
            overflow: visible !important;
            }
            .js .mis-slide {
            display: none;
            opacity: 0;
            }
            .mis-slide.mis-current {
            z-index: 100;
            display: block;
            }
            /*  Slide container - inserted around the contents
            of each slide by the plugin */
            .mis-container {
            display: block;
            width: auto;
            height: auto;
            border: 0;
            }
            /*  Style list navigation */
            .mis-nav-list {
            position: absolute;
            bottom: .5em;
            width: 100%;
            margin: 0 auto; /* center it */
            z-index: 300;
            padding: 0;
            }
            .mis-nav-list li {
            display: inline-block;
            margin: 0 .25em;
            }
            .mis-nav-list li a {
            display: block;
            width: 11px;
            height: 11px;
            text-indent: 100%; /* Replace text */
            overflow: hidden;
            white-space: nowrap;
            border: 1px solid #eee;
            border-radius: 7px; /* Make items round */
            opacity: .3;
            -webkit-box-shadow: inset 0 0 2px #333;
            box-shadow: inset 0 0 2px 2px #333;
            margin: 0 3px;
            }
            .mis-nav-list li.mis-current a, .mis-nav-list li a:hover {
            background: #333;
            }
            
            .mis-nav-buttons {
            display: block;
            position: absolute;
            height: 0;
            top: 0;
            opacity: 0.5;
            z-index: 200;
            }
            .mis-nav-buttons a {
            position: absolute;
            color: #eee;
            font-size: 0; /* Hide for browser except Android */
            line-height: .01; /* 0 is inconsistent in Opera */
            font-family: Verdana, Geneva, sans-serif;
            font-weight: bold;
            text-decoration: none;
            text-indent: -9999px; /* Hide for Android */
            }
            .mis-nav-buttons a:hover {
            color: #ccc;
            }
            .mis-nav-buttons a.mis-next {
            left: auto;
            right: 0;
            }
            .mis-nav-buttons a.mis-prev {
            left: 0;
            }
            .mis-nav-buttons a.mis-prev:before, .mis-nav-buttons a.mis-next:after {
            content: "\2039"; /* left single angle quote */
            display: block;
            font-size: 80px;
            text-indent: 0;
            }
            .mis-nav-buttons a.mis-next:after {
            content: "\203A"; /* right single angle quote */
            }
            .mis-current p{
            display: block!important;
            }
